@font-face {
  font-family: 'GeoSlab703 Md BT Bold';
  src: url("../fonts/GeoSlab703 Md BT Bold.eot");
  src: url("../fonts/GeoSlab703 Md BT Bold.woff") format('woff'), url("../fonts/GeoSlab703 Md BT Bold.ttf") format('truetype'), url("../fonts/GeoSlab703 Md BT Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-GeoSlab703bold{
    font-family: 'GeoSlab703 Md BT Bold';
}

@font-face {
  font-family: 'GeoSlab703 Md BT Medium';
  src: url("../fonts/GeoSlab703 Md BT Medium.eot");
  src: url("../fonts/GeoSlab703 Md BT Medium.woff") format('woff'), url("../fonts/GeoSlab703 Md BT Medium.ttf") format('truetype'), url("../fonts/GeoSlab703 Md BT Medium.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-GeoSlab703Medium{
    font-family: 'GeoSlab703 Md BT Medium';
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.woff") format('woff'), url("../fonts/Montserrat-Bold.ttf") format('truetype'), url("../fonts/Montserrat-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-Montserrat-Bold{
    font-family: 'Montserrat-Bold';
}

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url("../fonts/Montserrat-Hairline.eot");
  src: url("../fonts/Montserrat-Hairline.woff") format('woff'), url("../fonts/Montserrat-Hairline.ttf") format('truetype'), url("../fonts/Montserrat-Hairline.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-Montserrat-Hairline{
    font-family: 'Montserrat-Hairline';
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.woff") format('woff'), url("../fonts/Montserrat-Light.ttf") format('truetype'), url("../fonts/Montserrat-Light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-Montserrat-Light{
    font-family: 'Montserrat-Light';
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.woff") format('woff'), url("../fonts/Montserrat-Regular.ttf") format('truetype'), url("../fonts/Montserrat-Regular.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}


.font-Montserrat-Regular{
    font-family: 'Montserrat-Regular';
}

.navbar-default{
	background-color: white;
	/* border: none; */
}
.navbar-brand {
    float: left;
    height: 70px;
    padding: 15px 40px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-nav li a {
    /*line-height: 70px;*/
    height: 70px;
    padding-top: 22px;
}

.item-nav{
    font-family: 'GeoSlab703 Md BT Bold';
    text-transform: uppercase;
    font-size: 12px;
}
.item-nav.active a,
.item-nav a:hover{
	background-color: white !important;
	color: #77251B !important;
	font-weight: bold;
	transition: 1s ease all;
	cursor: pointer;
}

.dropdown-nav{
    background-color:  #77251B;
    font-family: 'GeoSlab703 Md BT Bold';
    
}  

.dropdown-nav:focus{
   transition: 1s ease all !important; 
}  

.dropdown-nav a{
    color: white !important;
    text-transform: uppercase;
    font-size: 12px;
} 

.dropdown-menu{
    min-width: 231px;
    transition: 1s ease all;
}

.dropdown-menu li {
    /*list-style: inherit !important; */
}
.dropdown-menu li.vineta-header {
    list-style-image: url('../img/adorno/gps_menu.png');
    list-style-position: inside;
    color: #7D7D7D !important; 
}

.dropdown-menu li.vineta-header:hover{
    background-color: #8E4239 !important;
    color:white !important;
    transition: 1s ease;
}

.dropdown-menu li a{
    color: #7D7D7D !important;
    padding-top: 6px;
    height: 30px;
    transition: 1s ease;
}

.dropdown-menu li a.active,
.dropdown-menu li a:hover{
    background-color: #81291E !important;
    color:white !important;
}


.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
    color:#777  !important;
    background-color: white !important;
    transition: 1s ease all;
}

.title-logo{
    font-family: 'Montserrat-Regular';
}

.margin-left-10em{
	margin-left: 10em;
}
.margin-right-10em{
	margin-right: 10em;
}

/* footer */
footer{
    background-color : #E9E9E9;
} 

.footer-title{
    padding-top: 3%;
    text-align: center;
    color: #8E4239;
    font-family: 'GeoSlab703 Md BT Bold';
    font-size: 22px;
    letter-spacing: 1px;
}

.line{
    margin: 0 auto;
    width: 110px;
    margin-top: 7px;
    border-top: 2px solid #8E4239;
}

.container-carousel{
    margin: 3% auto 0;
    max-width: 985px;
    width: 100%;
    display: block;
}

.owl-controls .owl-prev {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: -10%;
    background-image: url("../img/adorno/flecha_izquierda.png");
    font-size: 0px;
    /*background-position: 0px center;*/
    margin-top: -115px;
}
.owl-controls .owl-prev:hover {
    background-image: url("../img/adorno/flecha_izquierda_over.png");
}

.owl-controls .owl-next {
    width: 30px;
    height: 30px;
    font-size: 0px;
    /*background-position: 24px center;*/
    float: right;
    background-image: url("../img/adorno/flecha_derecha.png");
    margin-right: -10%;
    margin-top: -115px;
}

.owl-controls .owl-next:hover{
    background-image: url("../img/adorno/flecha_derecha_over.png");
}
.container-carousel .owl-carousel .item{
    height: 187px;
    /*padding: 15px 5px;*/
    position: relative;
    overflow: hidden;
}

.line-footer{
    margin: 0 auto;
    width: 46px;
    margin-top: 14px;
    border-top: 2px solid white;
}

.line-footer2{
    width: 32px;
    margin-top: 4px;
    border-top: 2px solid white;
}
.info-fachada{
    font-family : 'Montserrat-Bold';
    color: white;
    text-align: center;
    background: rgba(54, 25, 25, .5);
    /*opacity:0.5;*/
    height: 100%;
    width:100%;
    padding-top: 25%;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.info-fachada-all{
    font-family : 'Montserrat-Bold';
    color: white;
    text-align: center;
    background: rgba(54, 25, 25, .5);
    /*opacity:0.5;*/
    height: 100%;
    width:100%;
    /*padding-top: 25%;*/
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}


.info-fachada span{
    font-size: 20px;
}

.info-fachada-all span{
    font-size: 20px;
}

.fachada-all{
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: 1s ease all;
    background-position: center center;
    background-size: cover;
}

.fachada{
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: 1s ease all;
}

.fachada-asia{
    background-image: url("../img/fachada_asia.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.fachada-barranco{
    background-image: url("../img/fachada_barranco.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.fachada-chorrillos{
    background-image: url("../img/fachada_chorrillos.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.fachada-lamolina{
    background-image: url("../img/fachada_lamolina.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.fachada-nh1{
    background-image: url("../img/adorno/nuestra_historia_mensaje1.png");
    background-position: center center;
    background-size: 100% 100%;
    height: 100%;
}

.fachada-nh1{
    background-image: url("../img/adorno/nuestra_historia_mensaje1.png");
    background-position: center center;
    background-size: 100% 100%;
    height: 100%;
}

.fachada-mensaje2{
    background-image: url("../img/adorno/nuestra_historia_mensaje2.png");
    background-position: center center;
    background-size: 100% 100%;
    height: 100%;
}


.fachada-nh3byn{
    background-image: url("../img/el_hornero_historia3byn.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.fachada-nh2{
    background-image: url(../img/portada_slide_1.jpg);
    background-position: 451px center;
    background-size: 148%;
    height: 100%;
}

.fachada-pasaron{
    background-image: url("../img/el_hornero_historia5.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.fachada-hornero-carnicero{
    background-image: url("../img/el_hornero_carnicero.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.fachada-carne-verduras{
    background-image: url("../img/carne_verduras.jpg");
    background-position: center 0px;
    background-size: cover;
    height: 100%;
}
.fachada-mensaje3{
    background-image: url("../img/adorno/nuestra_historia_mensaje3.png");
    background-position: center center;
    background-size: 100% 100%;
    height: 100%;
}

.fachada-historia2{
    background-image: url("../img/el_hornero_historia2.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.fachada-menu{
    background-image: url("../img/el_hornero_menu.jpg");
    background-position: center -132px;
    background-size: cover;
    height: 100%;
}

.scale1-1{
    transform: scale(1.1);
}

.propuesta{
    width: 100%;
    height: 187px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 1em;
}

.margin-auto{
    margin: 0 auto;
}


footer .fachada-saintfooter{
    background-image: url("../img/fachada_sainttropez.jpg");
    background-position: center center;
    background-size: cover;
    height: 187px;
}

footer .fachada-armandolafooter{
    background-image: url("../img/fachada_armandola.jpg");
    background-position: center center;
    background-size: cover;
    height: 187px;
}

footer .container-propuestas{
    margin-top: 3%;
    width: 100%;
}

footer .container-info{
    margin-top: 3%;
    background-color: #81291E;
    color:white;
    padding-top: 3%;
    padding-bottom: 1%;
}

footer .container-info .izquierda{
    /*padding-top: 3%;*/
}

footer .container-info .derecha{
    font-family: 'Montserrat-Bold';
}

.linea-bottom-full{
    border-bottom: 2px solid;
}

.linea-right{
    height: 73px;
    top: 5%;
    right: 8%;
    position: absolute;
    border-left: 2px solid;
}
footer .container-info .derecha ul{
    padding-left:0;
    margin-top: 10px;
    font-family: 'Montserrat-Light';
    font-size: 11px;
    padding-right: 15px;
}

footer .container-info .derecha ul li.vineta-tel{
    margin-bottom: 9px;
    list-style-image: url('../img/adorno/tel_foot.png');
}

footer .container-info .derecha ul li.vineta-ubi{
    margin-bottom: 9px;
    list-style-image: url('../img/adorno/gps_foot.png');
}

footer li a,
footer li a:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer .container-info img{
    margin: 0 auto;
}

.clearboth{
    clear:both;
}

footer .li-telefono{
    font-size:11px;
    letter-spacing:1px;
    text-decoration: none;
    color:white;
    padding-bottom: 2px;
}

footer .li-telefono: hover{
    text-decoration: none;
    color:white;
}

footer .footer-mencion{
    margin: 0 14% 0 14%;   
}
footer .content-mencion{
    color: #A8847F;
    font-size: 12px;
    font-family: 'GeoSlab703 Md BT Bold';
}

.border-button{
    border: 2px solid #8E4239;
    color: #8E4239;
    background-color: white;
    font-family: 'GeoSlab703 Md BT Medium';
    padding: 8px 20px 8px 20px;
    text-transform: uppercase;
}

#index_section{
    transition: 1.5s ease all;
    background-image: url(../img/portada_slide_1.jpg);
}

.cont-fachada{
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.width-100per{
    width: 100%;
}


.fachada-historyhornero{
    background-image: url("../img/fachada_chorrillos.jpg");
    height: 100%;
}

.Hmiddle-screen{
    min-height: 50vh;
}

#history_section{
    
}

#history_section .fachada-historyhornero{
    background-image: url("../img/fachada_chorrillos.jpg");
    height: 100%;
}

#history_section .texto-historyhornero{
    /*background-image: url("../img/adorno/fachada_chorrillos.jpg");*/
}

#history_section p{
    color:#777;
    letter-spacing: 2px;
    font-family: 'GeoSlab703 Md BT Medium';
    margin: 2em;

}

.padding-left-0{
    padding-left: 0;
}
.padding-right-0{
    padding-right: 0;
}

.title-all{
    padding-top: 3%;
    text-align: center;
    color: #8E4239;
    font-family: 'GeoSlab703 Md BT Bold';
    font-size: 22px;
    letter-spacing: 1px;
}

.backtitle{
    height: 40%;
    width:100%;
    text-align: center;
    font-family: 'GeoSlab703 Md BT Medium';
    font-size: 30px;
    text-transform: uppercase;
}

.backtitle .title{
    color:white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
} 

.verticalAuto{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.backtitle .lineback{
    width: 60px;
    border-bottom: 3px solid white;
    /* position: relative; */
    margin: 0 auto;
    margin-top: 7px;
} 

.ourhistoryback{
    background-image: url('../img/portada_nuestra_historia.jpg');
    /*background-position: center center;*/
    background-position: -175px -300px;
}

.contenedor{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 6%;
    padding-bottom: 4%;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    min-height: 500px;
}

@media only screen and (min-width: 768px) {
  	.item-nav{
        width: 8em;
	    text-align: center;
	}
}

@media only screen and (max-width: 1280px) {
  
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    .owl-controls .owl-prev {
        margin-left: -2%;
    }

    .owl-controls .owl-next {
        margin-right: -2%;
    }

    .contenedor{
        width: 100% !important;
    }
}

/*   Small Devices, Tablets */
@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 480px) {

}

/* fullscreen setup */
html{
  /* give this to all tags from html to .fullscreen */
    height:100%;
}

body{
    height:100%;
    padding-top: 72px;
    width: 100%;
}



.fullscreen{
  padding: 0px;
}
.fullscreen,
.content-a {
  width:100%;
  min-height:767px;
  height:100%;
  overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
  /*height:auto;*/
  /*min-height:100%;*/
  min-height:767px;
}

/* content centering styles */
.content-a {
  display:table;
}
.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
  text-align:center;
}
