* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }




/* ---- grid ---- */

.grid {
	/*background: #DDD;*//
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  	/*width: 33.333%;*/
  	width: 50%;
}

.grid-item {
	padding:7px;
	float: left;
}

.grid-item img {
	display: block;
	max-width: 100%;
}

/*.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }*/

.grid-item--height2 { height: 240px; }
.grid-item--height3 { height: 340px; }
.grid-item--height4 { height: 440px; }

@media only screen  and (max-width: 1200px){ /* lg devicea */
	
}
@media only screen  and (max-width: 992){ /* md devicea */
	
}
@media only screen  and (max-width: 768px){ /* sm devicea */
	.grid-sizer,
	.grid-item {
	  	width: 100%;
	  	height: auto;
	}

	.grid-item--height2 { height: 300px; }
	.grid-item--height3 { height: 300px; }
	.grid-item--height4 { height: 300px; }
}
